<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp1"
        tools:targetApi="31">
        <activity
            android:name=".CartPayment"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".dessert_details"
            android:exported="false" />
        <activity
            android:name=".meals_detail"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".MainAct"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MyApp1" />
        <activity
            android:name=".CardManager"
            android:exported="false" />
        <activity
            android:name=".CartItem"
            android:exported="true" />
        <activity
            android:name=".Foods"
            android:exported="false" />
        <activity
            android:name=".FoodItem"
            android:exported="false" />
        <activity
            android:name=".MenuAdapter"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".YagmurSudeYolcu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>